body {
    --accent-color: orange;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --accent-color: #D0D066;
    --background-color: #333;
    --text-color: white;
    --button-text-color: var(--background-color);
    background-color: var(--background-color);
    color: var(--text-color);
}