* {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

html, body {
    background: #07038c;
    margin:0;
}

.grid-item,
header,
main,
nav,
aside,
footer {
    background: #044BD9;        
    color: white;
    border: 1px solid #377EFF;
