.card {
    border: 1px black solid;
    border-radius: 1.2em;
    height: 800px;
    background-color: red;
    border-radius: .4em;

}

.top {
    padding: 10px;
    font-size: 3rem;
    height: 200px;
}

.middle {
    height: 400px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}

.right {
    padding: 10px;
    font-size: 38px;
    color: white;
}

.bottom {
    padding: 10px;
    font-size: 40px;
}

img {
    height: 400px;
    width: 300px;
}